<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" syntaxCheck="true">
    <testsuites>
        <testsuite name="Module test suite">
            <directory>./module/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
        <blacklist>
            <directory>../test</directory>
        </blacklist>
    </filter>
</phpunit>